<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="app-header">
	<ion-toolbar color="main-viola">
		<ion-title color="white" left text-left text-capitalize>{{'about' | translate}}</ion-title>
		<button ion-button menuToggle right>
			<ion-icon name="menu"></ion-icon>
		</button>

		 <ion-buttons end>
			<button class="map-btn" ion-button (click)="goRoutes()">
				<ion-icon name="map"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content padding>
  <h4  padding-top>{{'Un progetto di valorizzazione delle eccellenze agroalimentari e storico culturali del territorio dell’oltre Po’ mantovano.' | translate}}</h4>
    <p>
    	{{'Il progetto Attrezzature Rurali di Comunità, costituito da questo website Itinerari Oltrepò Mantovano e dall’app gratuita Qui Oltrepò, nasce dalla volontà di raccontare la storia locale dei luoghi e dei prodotti agricoli dell’Oltrepò Mantovano tramite testi, immagini, racconti audio e video, costruendo uno storytelling coinvolgente per gli utenti di riferimento, e fruibile direttamente nel contesto reale.' | translate }}
    </p>
    <p>
			{{'Attraverso una raccolta dei contenuti che ha attivato la comunità locale per la creazione di una storia condivisa, è stato possibile costruire una narrazione localizzata delle eccellenze di questo territorio. La documentazione che è stata raccolta e predisposta è stata inserita in un archivio virtuale implementabile e aggiornabile, che permetterà di mantenere viva la memoria grazie ai nuovi strumenti digitali.' | translate }}
		</p>
    <p>
			{{'Un progetto dunque che recupera soprattutto le tradizioni e le origini della cultura orale contadina per sedimentarla con strumenti innovativi e proporla ai cittadini, ai turisti a chiunque attraversi il nostro territorio.' | translate }}
		</p>
    <p>
					{{'E’ questo un primo passo per non disperdere, soprattutto a partire dai prodotti agro alimentari, la cultura, le tradizioni e l’identità storica dell’Oltrepò mantovano.' | translate }}
				</p>

</ion-content>
