<ion-header>
  <ion-toolbar>

    <ion-buttons right>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div padding class="half-content blue-bg">
    <h3 no-margin text-center class="montserrat">{{'IMPORTA ITINERARIO' | translate}}</h3>
    <p text-center>{{'Vuoi importare un itinerario salvato' | translate}}<br>{{'dal website Itinerari Oltrepò Mantovano' | translate}}?</p>
    <ion-list>
      <ion-item color="modal-blue">
        <ion-input type="text" [placeholder]="'Inserisci codice itinerario' | translate" [(ngModel)]="routeCode"></ion-input>
      </ion-item>
    </ion-list>
    <p text-center>
      <button ion-button color="white" clear class="montserrat" (click)="testRoute()" [disabled]="!routeCode">{{'IMPORTA' | translate}}</button>
    </p>
  </div>
</ion-content>
