<!--
  Generated template for the ItineraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="app-header">
	<ion-toolbar color="main-viola">
		<button color="main-viola" ion-button start (click)="goBack()">
			<ion-icon name="arrow-back"></ion-icon>
		</button>
		<ion-title color="white" left text-left text-capitalize>{{'itinerari' | translate}}</ion-title>
		<button ion-button menuToggle right>
			<ion-icon name="menu"></ion-icon>
		</button>

		<!-- <ion-buttons end>
			<button class="map-btn" ion-button>
				<ion-icon name="map"></ion-icon>
			</button>
		</ion-buttons> -->
	</ion-toolbar>
</ion-header>


<ion-content padding-top>
	<p padding *ngIf="!routes" [innerHTML]="'Non hai ancora itinerari importati. Costruisci il tuo itinerario su itinerarioltrepomantovano.it e segui le istruzioni per importarli qui.<br><br>Oppure, se hai già costruito il tuo itinerario, importalo cliccando il bottone <b>Importa altro itinerario</b>' | translate">kjdahsdljashdlajs</p>
	<ion-list padding-top>
	  <ion-item color="viola-item" *ngFor="let r of routes" (click)="goItin(r)">
	    <h2 class="montserrat">{{r.name}}</h2>
	    <div item-end text-center padding-left>
				<ion-icon color="main-blue" name="pin"></ion-icon>
				<br>
				<span class="montserrat" color="black">{{r.arguments.length}}</span>
			</div>
	  </ion-item>
</ion-list>

</ion-content>

<ion-footer no-shadow>
<ion-toolbar position="bottom">
	<button class="montserrat" color="modal-blue" ion-button full (click)="openModal()">{{'IMPORTA ALTRO ITINERARIO' | translate}}</button>
</ion-toolbar>
</ion-footer>
