page-routes {
position: static;
  h2 {
    border-right: 0.55px solid #fff
  }
  .footer {
    .toolbar {
      padding: 0;
      .toolbar-background {
        background: transparent;
        border: none;
      }
      .toolbar-content {
        .button {
          height: 4.8em;
          margin-bottom: 0;
        }
      }
    }
  }
}


ion-modal {

  .modal-wrapper {
    background-color: rgba(255,255,255,0.5);
    modal-import-routes {
      &.ion-page {
        height: 90%;
        width: 90%;
        left: 5%;
        top: 5%;
        .header {
          .toolbar {
            .bar-buttons {
              button {
                color: #fff;
                ion-icon {
                  font-size: 1.8em
                }
              }
            }
            .toolbar-background {
              background-color: $modal-blue;
            }
          }
        }
      }
      .half-content {
        height: 100%;
        h3 {
          font-weight: 700;
        }
        &.blue-bg {
          background-color: $modal-blue;
          h3 {
            color: #fff;
            font-weight: 700;
          }
          p {
            color: #fff;
          }
          .list {
            .item {
              border: 0.55px solid #fff;
              .text-input::-moz-placeholder {
                color: white;
              }

              .text-input:-ms-input-placeholder {
                color: white;
              }

              .text-input::-webkit-input-placeholder {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
