<!--
  Generated template for the ComeFunzionaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="app-header">
	<ion-toolbar color="main-viola">
		<ion-title color="white" left text-left text-capitalize>{{'come funziona' | translate}}</ion-title>
		<button ion-button menuToggle right>
			<ion-icon name="menu"></ion-icon>
		</button>

		 <ion-buttons end>
			<button class="map-btn" ion-button (click)="goRoutes()">
				<ion-icon name="map"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content padding>
  <div padding-top>
    <p [innerHTML]="'Con <b><i>Qui Oltrepò</i></b> puoi importare e salvare gli itinerari di visita costruiti sul website Itinerari Oltrepò Mantovano tramite la funzione Importa altro itinerario, cui puoi accedere dal menu Itinerari nella barra menu in alto nell’app.' | translate"><p>

		<p [innerHTML]="'Oppure puoi semplicemente farti guidare tra le destinazioni di interesse di questo territorio tramite la funzione <i>Più vicine</i>, che ti mostrerà le tappe più vicine alla tua posizione (funzione che richiede GPS acceso).' | translate"><p>

		<p [innerHTML]="'Puoi esplorare i punti di interesse tramite i filtri per argomento o per Comune, cui puoi accedere dal menu laterale.' | translate"><p>

		<p [innerHTML]="'Se invece vuoi sapere proprio tutto quello che è degno di visita, usa la funzione <i>Vedi tutte</i>, dalla barra menu in basso nell’app.' | translate"><p>

  </div>
</ion-content>
