<ion-header id="app-header">
	<ion-toolbar color="main-viola">
		<button ion-button menuToggle right>
			<ion-icon name="menu"></ion-icon>
		</button>

		 <ion-buttons end>
			<button class="map-btn" ion-button (click)="goRoutes()">
				<ion-icon name="map"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div padding-top class="heading" [style.background-image]="'url(' +  mapPlaceholder + ')'">
		<h1 class="main-heading" margin-top  *ngIf="gpsActive && connActive">
			{{ 'Esplora le destinazioni più vicine a te!' | translate }}
		</h1>
		<h1 class="main-heading" margin-top *ngIf="!(gpsActive && connActive)">
			{{ 'Esplora le destinazioni suggerite!' | translate }}
		</h1>
		<p text-center>
			{{'Oppure cerca tra le destinazioni disponibili e usa l’App come una guida' | translate}}
		</p>
	</div>

	<div class="correlati">
		<ion-list>
			<!-- <ion-item *ngFor="let arg of arguments | sortBy: filterHome" (click)="goArgomento(arg._id)"> -->
			<ion-item *ngFor="let arg of arguments | sortBy: filterHome" (click)="goArgomento(arg)">
				<ion-avatar item-start>
					<cl-image *ngIf="arg.coverImg.src; else defaultImageTemplate" public-id="{{arg.coverImg.src.public_id}}" class="thumbnail inline" format="jpg">
						<cl-transformation height="50" width="50" crop="fill"></cl-transformation>
					</cl-image>

					<ng-template #defaultImageTemplate>
						<img class="thumbnail inline" src="/assets/imgs/default-50x50.svg">
					</ng-template>
				</ion-avatar>
				<h2>{{arg.name}}</h2>
				<p class="town-links-container" *ngIf="filter">
					<span  class="town-link" *ngFor="let t of arg.towns; let i = index">{{t.name}}<span *ngIf="i < arg.towns.length - 1">,&nbsp;</span></span>
				</p>
				<p class="town-links-container" *ngIf="!filter">
					<span  class="town-link tipo-argomento montserrat" [ngClass]="arg.categories[0]?.key">{{lang == 'it' ? arg.categories[0]?.name : arg.categories[0]?.nameEN }}</span>
				</p>
			</ion-item>
		</ion-list>
	</div>

</ion-content>
<ion-footer>
	<ion-segment [(ngModel)]="filterHome" class="filter-home" (ionChange)="segmentChanged($event)">
	<ion-segment-button value="name">
		<ion-icon name="list"></ion-icon><span>{{'Tutti' | translate}}</span>
	</ion-segment-button>
	<ion-segment-button value="isFeatured">
		<ion-icon name="checkmark"></ion-icon><span>{{'In evidenza' | translate}}</span>
	</ion-segment-button>
	<ion-segment-button value="distanceUser">
		<ion-icon name="pin"></ion-icon><span>{{'Distanza' | translate}}</span>
	</ion-segment-button>
</ion-segment>
</ion-footer>
