page-home {
  ion-label {
    white-space: normal;
    text-overflow: initial;

    p.town-links-container {
      span.town-link {
        display: inline-block;
      }
    }

  }

  ion-content {
    .heading {
      height: 60%;
      background-position: 50%;
      background-repeat: no-repeat;

      h1 {
        color: $main-viola;
        font-family: Montserrat;
        text-align: center;
        font-weight: 800;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.8rem;
      }

      p { font-weight: bold;
          font-size: 1.8rem;
          padding: 16px 50px;
       }
    }
    .correlati {
      ion-label {
        font-family: Montserrat;
      }
      ion-list-header {
        border: none;
      }
      ion-item {
        background-color: #F3F3F3;
        margin-bottom: 3px;
        &.item-block {
          .item-inner {
            border: none
          }
          &:last-child {
            border-bottom: none;
          }
        }

        ion-label {
          h2 {
            font-family: Montserrat;
            font-weight: bold;
            letter-spacing: 0.6px;
          }

        }
        ion-avatar {
          min-width: 54px;
          min-height: 54px;
          img {
            height: 54px;
            width: 54px;
          }
        }
      }
      .tipo-argomento {
        letter-spacing: 0.5px;
        text-transform: uppercase;
        &.gastronomia, &.Gastronomia {
          color: #c96765,
        }
        &.musei {
          color: #6ddebb,
        }
        &.territorio {
          color: #405ec7
        }
        &.arte {
          color: #FFAF60;
        }
        &.etnografia {
          color: #C186D1;
        }
        &.outdoor {
          color: #295DCB;
        }
      }
    }
  }
  ion-segment {
    &.filter-home {
      .segment-button {
        font-family: Montserrat;
        border-radius: 0 !important;
        background-color: #b4b4b4;
        font-weight: 600 ;
        border: none;
        color: #fff;
        .icon {
          margin-right: 10px
        }
        span {
          vertical-align: super;
        }
        &.segment-activated {
          background-color: #fff;
          color: #b4b4b4;
          border: none;
        }
      }
    }

  }
}


ion-modal {
  .modal-wrapper {
    background-color: rgba(255,255,255,0.5);
    modal-import {
      &.ion-page {
        height: 90%;
        width: 90%;
        left: 5%;
        top: 5%;
        .header {
          .toolbar {
            .bar-buttons {
              button {
                color: #fff;
                ion-icon {
                  font-size: 1.8em
                }
              }
            }
            .toolbar-background {
              background-color: $modal-blue;
            }
          }
        }
      }
      .half-content {
        height: calc(50% - 22px);
        h3 {
          font-weight: 700;
        }
        &.blue-bg {
          background-color: $modal-blue;
          h3 {
            color: #fff;
            font-weight: 700;
          }
          p {
            color: #fff;
          }
          .list {
            .item {
              border: 0.55px solid #fff;
              .text-input::-moz-placeholder {
                color: white;
              }

              .text-input:-ms-input-placeholder {
                color: white;
              }

              .text-input::-webkit-input-placeholder {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
