<ion-header>
  <ion-toolbar>

    <ion-buttons right>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div padding class="half-content blue-bg">
    <h3 no-margin text-center class="montserrat">IMPORTA ITINERARIO</h3>
    <p text-center>Vuoi importare un itinerario salvato<br>dal website <i>Itinerari Oltrepò Mantovano</i>?</p>
    <ion-list>
      <ion-item color="modal-blue">
        <ion-input type="text" placeholder="Inserisci codice itinerario" [(ngModel)]="routeCode"></ion-input>
      </ion-item>
    </ion-list>
    <p text-center>
      <button ion-button color="white" clear class="montserrat" (click)="goItin()" [disabled]="!routeCode">IMPORTA</button>
    </p>
  </div>
  <div padding class="half-content">
    <h3 margin-top text-center class="montserrat">Potrai gestire i tuoi itinerari dal menù laterale</h3>
    <p text-center>
      <button ion-button color="viola-item" class="montserrat" block (click)="goRoutes()">I MIEI ITINERARI</button>
    </p>

  </div>
</ion-content>
