<ion-header id="app-header">
	<ion-toolbar color="main-viola">
		<button color="main-viola" ion-button start (click)="goBack()">
			<ion-icon name="arrow-back"></ion-icon>
		</button>
		<ion-title color="white" left text-left>{{item.name}}</ion-title>
		<button ion-button menuToggle right>
			<ion-icon name="menu"></ion-icon>
		</button>

		<!-- <ion-buttons end>
			<button class="map-btn" ion-button>
				<ion-icon name="map"></ion-icon>
			</button>
		</ion-buttons> -->
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="item-profile cover-img" text-center>

		<cl-image *ngIf="item.coverImg.src; else defaultImageTemplate" public-id="{{item.coverImg.src.public_id}}" class="thumbnail inline" format="jpg">
			<cl-transformation height="250" width="400" crop="fill" quality="auto" fetch_format="auto" dpr="auto"></cl-transformation>
		</cl-image>

		<ng-template #defaultImageTemplate>
			<img class="thumbnail inline" src="/assets/imgs/default-400x250.svg">
		</ng-template>
	</div>

	<div class="item-detail">
		<div padding>
			<h3 class="montserrat">{{item.name}}</h3>

			<p class="uppercase location montserrat">
				<span *ngFor="let town of item.towns; let i = index" (click)="goComune(town._id)">{{town.name}}<span *ngIf="i < item.towns.length - 1">,&nbsp;</span></span>
			</p>

			<p>{{lang == 'it' ? item.shortDescription.it : item.shortDescription.en }}{{lang}}</p>

			<div *ngFor="let block of blocks" class="block" margin-top>
				<div *ngIf="block.text">
					<p *ngIf="block.text.it">{{lang == 'it' ? block.text.it : block.text.en}}</p>
				</div>

				<div *ngIf="block.img">
					<div *ngIf="block.img.src">
						<div *ngIf="block.img.src.public_id" class="item-profile">
							<cl-image public-id="{{block.img.src.public_id}}" class="thumbnail inline" format="jpg">
								<cl-transformation width="400" quality="auto" fetch_format="auto" dpr="auto" crop="fill"></cl-transformation>
							</cl-image>
						</div>
						<p *ngIf="block.img.caption.it" class="caption" [innerHTML]="lang == 'it' ? block.img.caption.it : block.img.caption.en"></p>
					</div>
				</div>

				<div class="gallery-container" *ngIf="block.gallery.pics.length > 0">
					<ion-slides margin-top pager="true" #slider1>
						<ion-slide *ngFor="let pic of block.gallery.pics">
							<div class="item-profile">
								<cl-image public-id="{{pic.public_id}}">
									<cl-transformation width="400" height="250" quality="auto" fetch_format="auto" dpr="auto" crop="pad" background="black"></cl-transformation>
								</cl-image>
							</div>
						</ion-slide>
					</ion-slides>
					<p *ngIf="block.gallery.caption.it" class="caption" [innerHTML]="block.gallery.caption.it"></p>
				</div>
			</div>
		</div>

		<ion-item *ngIf="item.location" color="black-item" class="white-space-normal location-block">
			<p class="montserrat">{{item.location.location.street1}}</p>
			<button class="montserrat gmap-link" outline ion-button (click)="openInBrowser( item.location.location.geo[1], item.location.location.geo[0] )">
				{{'Apri in Google Maps' | translate}}
			</button>
		</ion-item>

		<div class="correlati" *ngIf="item.related.length > 0">
			<ion-list>
				<ion-list-header>{{ 'Esplora gli altri argomenti' | translate }}:</ion-list-header>

				<ion-item *ngFor="let r of item.related" (click)="goArgomento(r._id)">
					<ion-avatar item-start>
						<cl-image *ngIf="r.coverImg.src" public-id="{{r.coverImg.src.public_id}}" class="thumbnail inline" format="jpg">
							<cl-transformation height="50" width="50" crop="fill"></cl-transformation>
						</cl-image>
					</ion-avatar>
					<h2>{{r.name}}</h2>
					<p>{{getRelatedTown(r.towns[0])}}</p>
				</ion-item>
			</ion-list>
		</div>
	</div>

</ion-content>
