page-argument {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;

    &.cover-img {
      min-height: 250px;
    }
  }

  .location-block {
    margin-bottom: 30px;

    .item-inner { border-bottom: 0!important; }

    .gmap-link {
      color: white;
      border-color: white;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
    h3 {
      font-weight: 800
    }
    .location {
      font-weight: 600;
      color: #b4b4b4
    }
    .caption {
      color: #b4b4b4;
      font-family: $montserrat;
      font-weight: 600;
    }
    .block {
      margin-bottom: 40px;

      .swiper-pagination-bullet {
        background: white;

        // &.swiper-pagination-bullet-active { background: red; }
      }
    }
  }
  .correlati {
    ion-label {
      font-family: Montserrat;
    }
    ion-list-header {
      border: none;
    }
    ion-item {
      background-color: #F3F3F3;
      margin-bottom: 3px;
      &.item-block {
        .item-inner {
          border: none
        }
        &:last-child {
          border-bottom: none;
        }
      }

      ion-label {
        h2 {
          font-family: Montserrat;
          font-weight: bold;
          letter-spacing: 0.6px;
        }

      }
      ion-avatar {
        min-width: 54px;
        min-height: 54px;
        img {
          height: 54px;
          width: 54px;
        }
      }
    }
  }
}
