<!--
  Generated template for the ItineraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="app-header">

	<ion-toolbar color="main-viola">

		<button color="main-viola" ion-button start (click)="goBack()">
			<ion-icon name="arrow-back"></ion-icon>
		</button>
		<ion-title color="white" left text-left>{{item.name}}</ion-title>
		<button ion-button menuToggle right>
			<ion-icon name="menu"></ion-icon>
		</button>

		<!-- <ion-buttons end>
			<button class="map-btn" ion-button>
				<ion-icon name="map"></ion-icon>
			</button>
		</ion-buttons> -->
	</ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <!-- <ion-item color="darkgrey-item" class="rename-itin">
        <ion-label floating text-center class="montserrat">Rinomina questo itinerario</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item> -->
      <div padding-top>

        <ion-list class="reorder-list">
					<ion-item-group *ngIf="item.arguments" >
          <ion-item *ngFor="let arg of item.arguments">
            <ion-avatar item-start>
    					<cl-image *ngIf="arg.coverImg.src; else defaultImageTemplate" public-id="{{arg.coverImg.src.public_id}}" class="thumbnail inline" format="jpg">
    						<cl-transformation height="50" width="50" crop="fill"></cl-transformation>
    					</cl-image>

    					<ng-template #defaultImageTemplate>
    						<img class="thumbnail inline" src="/assets/imgs/default-50x50.svg">
    					</ng-template>
    				</ion-avatar>
    				<h2 (click)="goArgomento(arg._id)">{{arg.name}}</h2>
						<p text-uppercase [ngClass]="getCatClass(arg.categories)" class="tipo-argomento montserrat">
							{{getCatClass(arg.categories | translate)}}
						</p>
    				<!-- <p class="town-links-container">
    					<span class="town-link" *ngFor="let t of arg.towns; let i = index" (click)="goComune(t._id)">{{t.name}}<span *ngIf="i < arg.towns.length - 1">,&nbsp;</span></span>
    				</p> -->
            <!-- <ion-icon (click)="delete()" item-right name="close"></ion-icon> -->
          </ion-item>
				</ion-item-group>
        </ion-list>
      </div>


  </ion-list>

</ion-content>
<ion-footer no-shadow>
<ion-toolbar position="bottom">
	<button  color="modal-blue" class="montserrat" ion-button full (click)="openModal()">{{'SALVA' | translate}}</button>
  <button class="montserrat" color="black-item" ion-button full (click)="openInBrowser()">{{'ESPORTA IN GOOGLE MAPS' | translate}}</button>
</ion-toolbar>
</ion-footer>
