page-itinerary {
  ion-content {
    margin-top: 20px;
    .reorder-list {
      ion-item {
        background-color: #F3F3F3;
        margin-bottom: 3px;
        &.item-block {
          .item-inner {
            border: none
          }
          &:last-child {
            border-bottom: none;
          }
        }

        ion-label {
          white-space: normal;
          h2 {
            font-family: Montserrat;
            font-weight: bold;
            letter-spacing: 0.6px;
          }
          .tipo-argomento {
            letter-spacing: 0.5px;

            &.gastronomia, &.Gastronomia {
              color: #c96765,
            }
            &.musei {
              color: #6ddebb,
            }
            &.territorio {
              color: #405ec7
            }
            &.arte {
              color: #FFAF60;
            }
            &.etnografia {
              color: #C186D1;
            }
            &.outdoor {
              color: #295DCB;
            }
          }

        }
        ion-avatar {
          min-width: 44px;
          min-height: 44px;
          img {
            height: 44px;
            width: 44px;
          }
        }

      }
    }
   }

}

modal-itinerary {
  overflow: auto;
  .header {
    .toolbar {
      .bar-buttons {
        .bar-button {
          span {
            .icon {
              font-size: 2em;
            }
          }
        }
      }
      .toolbar-background {
        border: none;
        background: transparent;
      }
    }
  }
  .footer {
    .toolbar {

      .toolbar-background {
        border: none;
        background: transparent;
      }
    }
  }
  .content {
    .list {
      .item-input {
        border: 0.55px solid #00baea;
        .text-input::-moz-placeholder {
          color: #00baea;
          font-family: Montserrat;
          font-weight: 900;
        }

        .text-input:-ms-input-placeholder {
          color: #00baea;
          font-family: Montserrat;
          font-weight: 900;
        }

        .text-input::-webkit-input-placeholder {
          color: #00baea;
          font-family: Montserrat;
          font-weight: 900;
        }
      }
    }
  }
}
