<ion-header>
  <ion-toolbar>

    <ion-buttons right>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div margin-top>
    <h3 margin-top class="montserrat" text-center><b>{{'Salva l’itinerario come' | translate}}:</b></h3>
    <ion-list>
      <ion-item margin-top>
        <ion-input type="text" placeholder="{{'NOME ITINERARIO' | translate}}" [(ngModel)]="item.name"></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer no-shadow>
<ion-toolbar position="bottom" text-center>

      <button margin-bottom ion-button color="viola-item" class="montserrat" (click)="saveItin()" block>{{'SALVA' | translate}}</button>
      <button ion-button color="black" clear (click)="dismiss()">{{'Annulla' | translate}}</button>

</ion-toolbar>
</ion-footer>
