// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;
$main-blue: #18b9e8;
$main-viola: #ac386e;
$darkgrey: #444;
$font-family-base: 'PT Serif', serif;
$montserrat: 'Montserrat', sans-serif;
$modal-blue: #00baea;
$header-height: 44px;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  main-blue:  #18b9e8,
  main-viola: #ac386e,
  light-grey: #b4b4b4,
  black: #000,
  gastronomia: #c96765,
  musei: #6ddebb,
  territorio: #405ec7,
  darkgrey: #444,
  white: #fff,
  viola-item: (
    base: #ac386e,
    contrast: #ffffff
  ),
  black-item: (
    base: #000,
    contrast: #ffffff
  ),
  darkgrey-item: (
    base: #444,
    contrast: #ffffff
  ),
  splash: (
    base: #18b9e8,
    contrast: #ffffff
  ),
  modal-blue: (
    base: #00baea,
    contrast: #ffffff
  )

);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

// @import "roboto";
// @import "noto-sans";
