// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.uppercase {
  text-transform: uppercase;
}

.montserrat {
  font-family: $montserrat;
}

.white-space-normal {
  * {
    white-space: normal;
  }
}

html {
  font-size: 69% !important;
}
ion-app {
  &.md , &.ios {
    font-size: 1.5rem;
  }
}

.toolbar-ios {
  ion-title {
    height: 100%!important;
    min-height: auto!important;
    padding: 0!important;
  }
}

body{
    padding-top: constant(safe-area-inset-top);//for iOS 11.2
    padding-top: env(safe-area-inset-top);//for iOS 11.1
}

.platform-ios #app-header { margin-top: 20px; }
.platform-ios h1.main-heading { margin-top: 36px; }
.platform-ios .cover-img { margin-top: 20px; }
.platform-ios .title-comune { margin-top: 36px; }
.platform-android p:not(.location) { font-family: $font-family-base; }

#app-header {
  ion-toolbar {
    min-height: $header-height;
    padding: 0;
    .toolbar-background {
      background-color: $main-viola;
    }

    button {
      height: 44px;
      margin: 0;
      padding: 0 10px;
      border-radius: 0;
      z-index: 9999;
      ion-icon {
        font-size: 2em;
      }
      &.bar-button-menutoggle {
        background: $main-blue;
        color: #fff;
      }
      &.map-btn {
        background-color: #000;
        color: #fff;
        padding: 0 16px;
      }
    }
    ion-buttons {
      margin: 0;

    }

      .toolbar-title {
        font-family: "Montserrat", sans-serif;
      }

  }

  .toolbar-content-md {
    max-width: 100%;

    ion-title {
      left: 0;
      top: 0;
      padding: 0 90px 1px;
      position: absolute;
      width: 100%;
      height: 100%;

      .toolbar-title {
        text-align: center;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}

#side-menu {
  ion-header {
    ion-toolbar {
      height: 44px;
      background-color: #000
    }
  }
  ion-list {
    button {
      color: #fff;
      background-color: #444;
      border-bottom: 0.2px solid #fff;
      letter-spacing: 0.6px;
      font-family: Montserrat;
      min-height: 6rem;
      font-weight: 600;
      .item-inner {
        border: none;
      }
      &.itinerari {
        background-color: $main-viola;
      }
      &.territorio {
        color: #295DCB;
      }
      &.musei {
        color: #00DEBA;
      }
      &.gastronomia {
        color: #c96765;
      }
      &.arte {
        color: #FFAF60;
      }
      &.etnografia {
        color: #C186D1;
      }
      &.standard {
        background-color: #666666;
        color: #fff;
      }

    }
  }
  .menu-inner {
    > ion-content {
      background-color: $darkgrey
    }
  }
}

ion-modal {
  .modal-wrapper {
    background-color: rgba(255,255,255,0.5);
    .ion-page {
      height: 90%;
      width: 90%;
      left: 5%;
      top: 5%;
    }
  }
}
