<ion-menu id="side-menu" [content]="content" side="right" type="overlay">
	<ion-header>
		<ion-toolbar color="darkgrey-item">
			<ion-title></ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content color="darkgrey-item">
		<ion-list>
			<button text-uppercase [ngClass]="p.class" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
				{{p.title | translate}}
			</button>
		</ion-list>
	</ion-content>

</ion-menu>

<!-- <ion-nav [root]="rootPage"></ion-nav> -->
<ion-nav #content [root]="rootPage"></ion-nav>
