<!--
  Generated template for the TownsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="app-header">

	<ion-toolbar color="main-viola">

		<button color="main-viola" ion-button start (click)="goBack()">
			<ion-icon name="arrow-back"></ion-icon>
		</button>
		<ion-title color="white" left text-left>Comuni</ion-title>
		<button ion-button menuToggle right>
			<ion-icon name="menu"></ion-icon>
		</button>

		<!-- <ion-buttons end>
			<button class="map-btn" ion-button>
				<ion-icon name="map"></ion-icon>
			</button>
		</ion-buttons> -->
	</ion-toolbar>
</ion-header>


<ion-content>
  <ion-list margin-top class="correlati">
		<ion-list-header margin-top>
			Esplora i comuni:
		</ion-list-header>

		<ion-item *ngFor="let t of towns" (click)="goComune(t._id)">
			<ion-thumbnail item-start>
				<cl-image *ngIf="t.coverImg.src" public-id="{{t.coverImg.src.public_id}}" class="thumbnail inline" format="jpg">
					<cl-transformation height="50" width="50" crop="fill"></cl-transformation>
				</cl-image>
			</ion-thumbnail>
			<h2>{{t.name}}</h2>
		</ion-item>
	</ion-list>
</ion-content>
