
page-towns-list {
  .title-comune {
    h4 {
      font-weight: 600;
      letter-spacing: 1px
    }
    p {
      margin-top: 0;
      letter-spacing: 0.8px
    }
  }
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
    h3 {
      font-weight: 800
    }
    .location {
      font-weight: 600;
      color: #b4b4b4
    }
    .caption {
      color: #b4b4b4;
      font-family: $montserrat;
      font-weight: 600;
    }
    .block {
      margin-bottom: 40px;

    }
  }
  ion-list {
    .list-header {
      border: none;
    }
    ion-label {
      .argomento {
        font-weight: 600;
        color: #000;
        letter-spacing: 0.5px
      }
      .tipo-argomento {
        letter-spacing: 0.5px;

        &.gastronomia, &.Gastronomia {
          color: #c96765,
        }
        &.musei {
          color: #6ddebb,
        }
        &.territorio {
          color: #405ec7
        }
        &.arte {
          color: #FFAF60;
        }
        &.etnografia {
          color: #C186D1;
        }
        &.outdoor {
          color: #295DCB;
        }
      }
    }
    &.correlati {
      ion-label {
        font-family: Montserrat;
      }
      ion-item {
        background-color: #F3F3F3;
        margin-bottom: 3px;
        &.item-block {
          .item-inner {
            border: none;
          }
        }

        ion-label {
          h2 {
            font-family: Montserrat;
            font-weight: 600;
            letter-spacing: 0.6px
          }

        }
      }

    }
  }

  .location-block {
    .item-inner { border-bottom: 0!important; }

    .gmap-link {
      color: white;
      border-color: white;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
}
