<ion-header id="app-header">
	<ion-toolbar color="main-viola">
		<button color="main-viola" ion-button start (click)="goBack()">
			<ion-icon name="arrow-back"></ion-icon>
		</button>
		<button ion-button menuToggle right>
			<ion-icon name="menu"></ion-icon>
		</button>

		<!-- <ion-buttons end>
			<button class="map-btn" ion-button (click)="doClick()">
				<ion-icon name="map"></ion-icon>
			</button>
		</ion-buttons> -->
	</ion-toolbar>
</ion-header>


<ion-content>
	<div padding-left padding-right class="title-comune">
		<h4 class="montserrat">{{item.name}}</h4>
		<p class="montserrat">{{'COMUNE' | translate}}</p>
	</div>

	<div class="item-profile" text-center>
		<cl-image *ngIf="item.coverImg.src; else defaultImageTemplate" public-id="{{item.coverImg.src.public_id}}" class="thumbnail inline" format="jpg">
			<cl-transformation height="250" width="400" crop="fill" quality="auto" fetch_format="auto" dpr="auto"></cl-transformation>
		</cl-image>

		<ng-template #defaultImageTemplate>
			<img class="thumbnail inline" src="/assets/imgs/default-400x250.svg">
		</ng-template>
	</div>

	<ion-list>
		<div ion-item *ngFor="let arg of item.arguments">
			<h5 class="montserrat argomento" (click)="goArgomento(arg._id)">{{ arg.name }}</h5>
			<p text-uppercase [ngClass]="arg.categories[0].key" class="tipo-argomento montserrat">
				{{lang == 'it' ? arg.categories[0].name : arg.categories[0].nameEN }}
			</p>
		</div>
	</ion-list>


	<!-- <div class="item-profile" text-center #profilePic [style.background-image]="'url(assets/img/mappa.jpg)'">
	</div> -->

	<ion-item *ngIf="item.location" color="black-item" class="white-space-normal location-block">
		<p class="montserrat">{{item.location.location.street1}}</p>
		<button class="montserrat gmap-link" outline ion-button (click)="openInBrowser( item.location.location.geo[1], item.location.location.geo[0] )">
			{{'Apri in Google Maps' | translate}}
		</button>
	</ion-item>

	<ion-list padding-top class="correlati">
		<ion-list-header>
			{{'Esplora gli altri comuni' | translate}}:
		</ion-list-header>

		<ion-item *ngFor="let t of item.relatedTowns" (click)="goComune(t._id)">
			<ion-thumbnail item-start>
				<cl-image *ngIf="t.coverImg.src" public-id="{{t.coverImg.src.public_id}}" class="thumbnail inline" format="jpg">
					<cl-transformation height="50" width="50" crop="fill"></cl-transformation>
				</cl-image>
			</ion-thumbnail>
			<h2>{{t.name}}</h2>
		</ion-item>
	</ion-list>
</ion-content>
